@model AppNt.Models.Vote

@{
    ViewData["Title"] = "Create";
}

<h1>Vota a tus profesores</h1>

<h4>Elegí el profesores que quieras y votalo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="ProfesorId" class="control-label"></label>
                <select asp-for="ProfesorId" class ="form-control" asp-items="ViewBag.ProfesorId"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label"> 
                    <input class="form-check-input"  asp-for="valueVote" /> @Html.DisplayNameFor(model => model.valueVote)
                </label>
            </div>
            <div class="form-group">
                <button class="button-28" role="button " type="submit"><a>Confirmar Voto</a></button>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Semester" asp-action="IndexForStudents"><button class="button-28" role="button"> Back to semester</button></a>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
