@model IEnumerable<AppNt.Models.Semester>
    <head>
        <link rel="stylesheet" href="~/css/botones.css">
    </head>

<table class="table">
    <thead  class="thead-dark">
        <tr>
            <th cope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th cope="col">More information</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                
                <a asp- asp-controller="Asignature" asp-action="IndexUnSemestre" asp-route-id="@item.Id"><button class="button-81" role="button">Ver materias</button></a>
                
            </td>
        </tr>
}
    </tbody>
</table>
