@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">TuRankingOrt.com</h1>
    <p>Acá podras votar y  ver los profesores con mas recomendaciones de tu facultad</p>
    <img style="width: 800px; height: 500px" src="https://campus.ort.edu.ar/video/imagen/874564" alt="Alternate Text" />
</div>
